
.nav-fixed {
  z-index: 3001;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-circle {
  width: 73px;
  height: 73px;
  border-radius: 35px;
  margin-right: 18px;

}

.icon-success {
  background-color: #33c92e;
}

.icon-danger {
  background-color: #fe7c96;
}

.icon-warning {
  background-color: #fed713;
}

.icon-primary {
  background-color: #b66dff;
}

.bg-grandient-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096);
  padding: 10px;
  border-radius: 0.3125rem;
}

.bg-grandient-info {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
  padding: 10px;
  border-radius: 0.3125rem;
}

.bg-grandient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae);
  padding: 10px;
  border-radius: 0.3125rem;
}

#sidebarButton {
  width: 50px;
  height:50px;
  margin: 25px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #888888;
  opacity: 0.7;
  background: #00CED1;
}
#sidebarButton:before, #sidebarButton:after {
  content: "";
  display: block;
  background: #ffffff;
  position: absolute;
}
#sidebarButton:before {
  width: 26px;
  height: 3px;
  left: 12px;
  top: 12px;
}
#sidebarButton:after {
  width: 26px;
  height: 3px;
  left: 12px;
  top: 36px;
}
#sidebarButton:active {
  box-shadow: none;
  transform: translate(2px);
}

.sidebar-bottom {
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 5000;
  right: 10px;
  bottom: 10px;
}
#sidebarButton2 {
  width: 50px;
  height:50px;
  margin: 25px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #888888;
  opacity: 0.7;
  background: #00CED1;
  outline: none;
}
#sidebarButton2:active {
  box-shadow: none;
  transform: translate(2px);
}
