{% extends 'bootstrap/base.html' %}
{% from 'tools.html' import render_flashed_messages %}
{% from 'tools.html' import datetimepicker %}

{% set logged_in = current_user.is_authenticated %}
{% set is_admin = logged_in and current_user.privilege_level >= 1 %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />

<link rel="stylesheet" href="/static/bootstrap-multiselect/docs/css/bootstrap-3.3.2.min.css" type="text/css" />
<link rel="stylesheet" href="/static/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
<script type="text/javascript" src="/static/bootstrap-multiselect/docs/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-multiselect/docs/js/bootstrap-3.3.2.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<!-- 引入本地图标库-->
<link rel="stylesheet" href="/static/css/iconfont.css">
<link rel="stylesheet" href="/static/css/style.css" />
<style>
  body, html {
    background-color: #fff;
	  font-size: 14px;
  }
  .sideActive {
    color: #348de8 !important;
  }
  a:hover {
    text-decoration: none;
  }
.icon-circle {
margin-right: 18px;
}
  .panel-default>.panel-heading {
    background-color: #fff;
  }
  .table {
    font-size: 14px;
  }
.label1 {
color: #000;
}
  h1, h2 {
    font-size:18px;
  }
  .btn {
    font-size:10px;
  }
  .iconfont {
    font-size: 16px;
  }
  .container {
    background-color: #fff;
  }
  .navbar-inverse {
    border-color: #b4b4b4;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
  }
  #sidebar {
    padding: 0; 
    z-index: 3000; 
    width: 195px; 
    height: 100%; 
    position: fixed;
  }
  #sidebar ul {
    z-index: 3002;
    background-color: #ebebeb;
    height:100%; 
    margin-top:0; 
    overflow:auto;
  }
  .menu-title {
    font-size:14px;
  }
  .sidebar-item a {
    color: black;
  }

  .table_modal {
    overflow-x: scroll;
    margin: 0cm 0cm 0pt;
    text-align: center;
  }
  .table_modal tr {
    height: 4rem;
  }
  td, th{
    font-size:14px;
  }
  .form-control {
    height: 27px;
    font-size:12px;
  }
  .table_modal>.table>thead>tr>th,
  .table_modal>.table>tbody>tr>td,
  .table_modal>.table>tbody>tr>th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: center;
    vertical-align: middle;
  }



@media (min-width: 1587px) {
  .container:first-child {
    margin: 0 !important
  }
  #sidebar {
    top: 51px;
  }
}
@media (min-width: 768px) and (max-width: 1586px) {
  .container {
    margin-left: 200px !important;
  }
  .container:first-child {
    margin: 0 !important
  }
  #sidebar {
    top: 52px;
  }
}
@media (max-width: 767px) {

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open
  .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #333;
  }
  .dropdown-menu .dropdown-menu-right, .navbar-nav .open .dropdown-menu {
    background-color: #333;
  }
  #sidebar {
  top: 50px;
  }
}

  .sidebar-item {
    display: flex;
    flex-direction: row;
    padding: 20px 30px 20px;
  }
  .sidebar-item:hover,
  .sidebar-item:active {
    color: white;
    background-color: #fcfcfc;
  }
  #mask {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.6);
  }

  </style>
{% endblock %}

{% macro render_nav(item, href, current) %}
{% if item == current %} <li class="active"><a href="{{href}}">{{item}}</a></li> {% else %}
<li><a href="{{href}}">{{item}}</a></li>
{% endif %}
{% endmacro %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #348de8; margin-bottom: 0 !important;">
  <div class="container-fluid">
    <div class="navbar-header" style="float: left">
      <a class="navbar-brand" href="{{url_for('main.index')}}" style="color: #ffffff">Galaxy OJ</a>
      <button id="sidebarButton3" href="#" type="button" class="navbar-toggle collapsed" aria-expanded="false"
        aria-controls="navbar" title="menu" style="background-color: #1b1b1b;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div>
      <ul class="nav navbar-nav pull-right" style="margin-top:0; margin-bottom: 0; z-index: 1000;">
        {% if not logged_in %}
        <li><a href="{{url_for('auth.user_login')}}" style="padding-top: 15px; padding-bottom: 15px;">Log In</a></li>
        {% else %}
        <li>
          <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="padding-top: 15px; padding-bottom: 15px;">
            {{ current_user.display_name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" style="position: absolute; z-index: 1001;" aria-labelledby="userDropdown">
            {% if is_admin %}
            <li class="dropdown-header">Admin Zone</li>
            <li><a href="{{url_for('admin.edit_tag')}}">编辑标签</a></li>
            <li><a href="{{url_for('admin.new_problem')}}">添加题目</a></li>
            <li><a href="{{url_for('admin.new_contest')}}">添加比赛</a></li>
            <li><a href="{{url_for('admin.list_users')}}">管理用户</a></li>
            <li><a href="{{url_for('admin.edit_usergroup')}}">编辑用户组</a></li>
            <li><a href="{{url_for('admin.batch_add_users')}}">批量添加用户</a></li>
            <li><a href="{{url_for('auth.user_register')}}">创建新用户</a></li>
            <li class="divider" role="separater"></li>
            {% endif %}
            <li class="dropdown-header">Settings</li>
            <li><a href="{{url_for('auth.edit_profile')}}">编辑资料</a></li>
            <li class="divider" role="separater"></li>
            <li><a href="{{url_for('auth.user_logout')}}">注销</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div id="sidebar" class=" collapse navbar-collapse">
  <ul class="nav navbar-nav nav-fixed">
    <div class="sidebar-item">
      <!-- {{ render_nav('Home', url_for('main.index'), current_view) }} 当部署到新ip时，需统一修改ip地址-->
      <a class="nav-link" href="http://47.106.76.115/post/notifications">
        <span class="menu-title">主页</span>
        <i class="iconfont icon-shouye" style="padding-left: 68px;"></i>
      </a>
    </div>
    <div class="sidebar-item">
      <!-- {{ render_nav('Problems', url_for('oj.list_problems'), current_view) }}-->
      <a class="nav-link" href="http://47.106.76.115/oj/problems">
        <span class="menu-title">题目</span>
        <i class="iconfont icon-problem" style="padding-left: 68px;"></i>
      </a>
    </div>
    <div class="sidebar-item">
      <a class="nav-link" href="http://47.106.76.115/oj/contests">
        <span class="menu-title">测试</span>
        <i class="iconfont icon-lishibisai" style="padding-left: 68px;"></i>
      </a>
      <!-- {{ render_nav('Contests', url_for('oj.list_contests'), current_view) }}-->
    </div>
    <div class="sidebar-item">
      <a class="nav-link" href="http://47.106.76.115/post/solutions">
        <span class="menu-title">题解</span>
        <i class="iconfont icon-qianseban-" style="padding-left: 68px;"></i>
      </a>
      <!--{{ render_nav('Solutions', url_for('post.solutions'), current_view) }}-->
    </div>
    <div class="sidebar-item">
      <a class="nav-link" href="http://47.106.76.115/post/tutorials">
        <span class="menu-title">教程</span>
        <i class="iconfont icon-laoshi" style="padding-left: 68px;"></i>
      </a>
      <!-- {{ render_nav('Tutorials', url_for('post.tutorials'), current_view) }}-->
    </div>
    <div class="sidebar-item">
      <a class="nav-link" href="http://47.106.76.115/oj/courses">
        <span class="menu-title">课程</span>
        <i class="iconfont icon-kechengdingzhi" style="padding-left: 68px;"></i>
      </a>
      <!--{{ render_nav('Course', url_for('oj.list_courses'), current_view) }}-->
    </div>
    <div class="sidebar-item">
      <a class="nav-link" href="http://47.106.76.115/oj/status">
        <span class="menu-title">记录</span>
        <i class="iconfont icon-orderstatus" style="padding-left: 68px;"></i>
      </a>
      <!-- {{ render_nav('Status', url_for('oj.list_status'), current_view) }}-->
    </div>
    <div class="sidebar-item">
      <a class="nav-link" href="http://47.106.76.115/post/rank">
        <span class="menu-title">排名</span>
        <i class="iconfont icon-ranking" style="padding-left: 68px;"></i>
      </a>
      <!-- {{ render_nav('Rank', url_for('oj.rank'), current_view) }}-->
    </div>
  </ul>
</div>
<div id="mask"></div>

{% endblock %}
{% block scripts %}
{% endblock scripts %}
{% block content %}
{% block flashed_messages %}
<div class="container">
  {{ render_flashed_messages(['message'], 'alert-success') }}
  {{ render_flashed_messages(['warning'], 'alert-warning') }}
  {{ render_flashed_messages(['error'], 'alert-danger') }}
</div>
{% endblock %}
{% block page_content %} {% endblock %}
<div id="footer">
  <hr>
  </hr>
  <p>Galaxy Online Judge System</p>
  <p>信息学竞赛课程组</p>
</div>

<script type="text/javascript">
  var btn = document.getElementById("sidebarButton3");
  btn.addEventListener("click", function (event) {
    $("#sidebar").toggleClass("in");
    if ($("#sidebar").hasClass("in")) {
      $("body").css("overflow", "hidden");
      $("#mask").show();
      $("#mask").on("touchend", function () {
        $("#mask").hide();
        $("body").css("overflow", "scroll");
        $("#sidebar").removeClass("in");
      });
    } else {
      $("body").css("overflow", "scroll");
      $("#mask").hide();
    }
  }, false);
  var sidebar = $('#sidebar');
  var current = location.pathname.split("/").slice(-1)[0].replace(/^\/|\/$/g, '');
  var reg = /^[0-9]$/;
  $('.nav .sidebar-item a', sidebar).each(function () {
    var $this = $(this);
    if (current === "") {
      //for root url
      if ($this.attr('href').indexOf("notifications") !== -1) {
        $(this).addClass('sideActive');
      }
    } else {
      //for other url
      if ($this.attr('href').indexOf(current) !== -1) {
        if (reg.test(current)) {
        } else {
          $(this).addClass('sideActive');
        }
      }
    }
  })
</script>
{% block foot_script %} {% endblock %}
{% endblock %}