<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- 引入iconfont 图标 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_901195_qtxazzt6zu.css">
  </head>

  <body><nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="base.html">GalaxyOJ</a>        
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">       
    <!-- 页面头部菜单 将root放进来-->
    <ul class="navbar-nav navbar-nav-right">        
      <li class="nav-item">
          <ul class="nav navbar-nav pull-right">
              <!--li><a id="time"> </a></li-->
              {% if not logged_in %}
                <li><a href="{{url_for('auth.user_login')}}">Log In</a></li>
                <!--li><a href="{{url_for('auth.user_register')}}">Sign Up</a></li-->
              {% else %}
              <li>
                <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.display_name }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  {% if is_admin %}
                    <li class="dropdown-header">Admin Zone</li>
                    <li><a href="{{url_for('admin.edit_tag')}}">编辑标签</a></li>
                    <li><a href="{{url_for('admin.new_problem')}}">添加题目</a></li>
                    <li><a href="{{url_for('admin.new_contest')}}">添加比赛</a></li>
                    <li><a href="{{url_for('admin.list_users')}}">管理用户</a></li>
                    <li><a href="{{url_for('admin.edit_usergroup')}}">编辑用户组</a></li>
                    <li><a href="{{url_for('admin.batch_add_users')}}">批量添加用户</a></li>
                    <li><a href="{{url_for('auth.user_register')}}">创建新用户</a></li>
                    <li class="divider" role="separater"></li>
                  {% endif %}
                  <li class="dropdown-header">Settings</li>
                  <li><a href="{{url_for('auth.edit_profile')}}">编辑资料</a></li>
                  <li class="divider" role="separater"></li>
                  <li><a href="{{url_for('auth.user_logout')}}">注销</a></li>
                </ul>
              </li>
              {% endif %}          
            <!-- <a class="nav-link count-indicator dropdown-toggle" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
              <span class="menu-title">root</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" id="general-pages">
              <ul class="">
                <li class="dropdown-item preview-item"> <a class="nav-link" href="#"> 编辑标签 </a></li>
                <li class="dropdown-item preview-item"> <a class="nav-link" href="#"> 添加题目 </a></li>
                <li class="dropdown-item preview-item"> <a class="nav-link" href="#"> 添加比赛 </a></li>
                <li class="dropdown-item preview-item"> <a class="nav-link" href="#"> 404 </a></li>
                <li class="dropdown-item preview-item"> <a class="nav-link" href="#"> 500 </a></li>
              </ul>
              </div> -->
      </li>        
    </ul>
  </div>
</nav>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- 侧边菜单栏partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">        
      <li class="nav-item">
        <a class="nav-link" href="noticifications.html">
          <span class="menu-title">Home</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="problems.html">
          <span class="menu-title">Problems</span>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>            
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contests.html">
          <span class="menu-title">Contests</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="solutions.html">
          <span class="menu-title">Solutions</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="problems.html">
          <span class="menu-title">Tutorials</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="problems.html">
          <span class="menu-title">Course</span>
          <i class="mdi mdi-table-large menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span class="menu-title">Status</span>
          <i class="mdi mdi-medical-bag menu-icon"></i>
        </a>          
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="problems.html">
          <span class="menu-title">Rank</span>
          <i class="iconfont icon-rankedfirst" style="padding-left: 132px;"></i>
        </a>
      </li>       
    </ul>
  </nav>
</body>
</html>

