{% extends 'base.html' %}
{% from 'tools.html' import pagination %}

{% set current_view = 'Contests' %}

{% block title %}Contests - Galaxy OJ{% endblock %}

{% block page_content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Contests {% if is_admin %}<a href="{{url_for('admin.new_contest')}}" class="btn btn-success btn-sm">New</a>{% endif %}</h2>
    </div>
    <div class="table_modal">
      <table class="table table-striped2">
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
		<th>组别</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>作者</th>
            {% if is_admin %}

		<th>权限</th>
		<th>修改</th>

            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for c in contests %}
          {% set contest_url = url_for('oj.contest', id=c.id) %}
          {% if not c.courses.count() or is_admin %}
          <tr>
            <td><a href="{{contest_url}}">{{c.id}}</a></td>
            <td><a href="{{contest_url}}">{{c.title}}</a></td>
            <td>
            {% if contest_status[c.id] == -2 %}<span class="label1">Coming</span>
            {% elif contest_status[c.id] == -1 %}<span class="label1">You haven't started.</span>
            {% elif contest_status[c.id] == 0 %}<span class="label1">Running</span>
            {% elif contest_status[c.id] == 1 %}<span class="label1">You have finished.</span>
            {% else %}<span class="label1">Ended</span>
            {% endif %}
            <!--
            {% if nowt<c.start_time %}<span class="label1">Coming</span>
            {% elif nowt>c.start_time and nowt<c.end_time%}<span class="label1">Running</span>
            {% else %}<span class="label1">Ended</span>
            {% endif %}
            -->
            </td>
            <td>{% if c.level=='Advanced' %}<span class="label1">提高组</span>{% else %}<span class="label1">普及组</span>{% endif %}</td>
            <td>{{c.start_time}}</td>
            <td>{{c.end_time}}</td>
            <td><span class="label1">{{c.owner.display_name}} </span></td>
            {% if is_admin %}
            <td>{% if c.shared %}<span class="label label-danger">邀请</span>{% else %}<span class="label1">内部</span>{% endif %}</td>
            {% set edit_url = url_for('admin.edit_contest', cid=c.id) %}
            {% set delete_url = url_for('admin.delete_contest', cid = c.id) %}
            <td><a href="{{edit_url}}"><span class="label label-success">Edit</span></a> &nbsp;&nbsp; <a href="{{delete_url}}"><span class="label label-danger">Delete</span></a></td>
            {% endif %}
          </tr>
            {% endif %}

            {% endfor %}
        </tbody>
      </table>    
    </div>
      {{ pagination(page, all_page, 'oj.list_contests') }}
    </div>
  </div>
{% endblock %}
