{% extends 'base.html' %}
{% from 'tools.html' import ckeditor, ckeditor_script_tag %}

{% set verb = 'Add' if pid == 0 else 'Edit' %}

{% block title %}{{ verb }} Problem - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        {% for errs in form.errors.values() %}
            {% for e in errs %}
                <div class="alert alert-danger" role='alert'>{{e}}</div>
            {% endfor %}
        {% endfor %}
         <h1>{{ verb }} problem </h1>
         <form method="POST">
		     {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.online_website.label}}
                {{form.online_website(class_="form-control",type="number")}}
            </div>
            <div class="form-group">
                {{form.online_problem_id.label}}
                {{form.online_problem_id(class_="form-control")}}
            </div>
            
            {{form.submit(class_="btn btn-success")}}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    {{ckeditor_script_tag()}}
{% endblock %}

{% block body %}
    {{super()}}

{% endblock %}