{% extends 'base.html' %}

{% from 'tools.html' import pagination %}

{% set current_view = 'Problems' %}

{% block title %}Problems - Galaxy OJ{% endblock %}


{% block page_content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>题目 {% if is_admin %}<a href="{{url_for('admin.new_problem')}}" class="btn btn-success btn-sm">New</a>{% endif %}</h1>
      <h4>{% if tag_name %} 当前标签：{{ tag_name }} {% endif %}</h4>
    </div>

    <div class="row">
      <div class="pull-left inline" style="margin-left: 2%; margin-top: 0.3%;">
        {% if sform %}
        <form action="{{ url_for('oj.list_problems')}}" method="POST">
          {{sform.hidden_tag()}}
          <div class="input-group">
            {{sform.keyword(class_="form-control",placeholder="请输入题目关键字", style="width: 150px;")}}
            <span class="pull-left">
            {{sform.taglist(class_="form-control", style="height: 260px;", id="taglist", multiple="multiple")}}
            </span>
            <span class="pull-left">
            {{sform.submit(class_="btn btn-default pull-left")}}
            </span>
            <script type="text/javascript">
              $(document).ready(function() {
                $("#taglist").multiselect({
                        includeSelectAllOption: true,
                        enableFiltering: true
                  });
              });
            </script>
            <style type="text/css">    
              #taglist + * .dropdown-menu li
              {
                display: inline-block;
              }
              #taglist + * .dropdown-menu
              {
                min-width: 768px;
              }
              .multiselect-filter
              {
                width: 100%;
              }
            </style>
          </div>
        </form>
        {% endif %}
      </div>

      <div class="btn-group pull-right" style="margin-right: 2%; margin-top: 0.3%;">
        {%if is_admin%}<button type="button" class="btn btn-default" onclick="btnOnclick()">管理</button>{%endif%}
        <button type="button" class="btn btn-default" onclick="btnOnclick2()">标签</button>
        <button type="button" class="btn btn-default" onclick="btnOnclick3()">提交</button>
      </div>
    </div>
    <div class="table_modal">
      <table id="problemshow" class="table table-striped2">
        <thead>
          <tr>
            <th>状态</th>
            <th>编号</th>
            <th>标题</th>
            <th>组别</th>
            <th style="display:none">标签</th>
            <th style="display:none">通过人数</th>
            <th style="display:none">提交人数</th>
            <th>来源</th>
            {% if is_admin %}
            <th>权限</th>
            <th>编辑</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for p in problems %}
          {% if is_admin or p.visible %}
          <tr>
            <td>{%if p.id in acproblems%}<span class="label label-success">Y</span>{%endif%}</td>
            <td><a href="{{url_for('oj.problem', pid=p.id)}}">{{p.id}}</a></td>
            <td>
            <a href="{{url_for('oj.problem', pid=p.id)}}">{{p.title}}</a>
            {%if p.special_judge%}<span class="label1">Special Judge</span>{%endif%}
            {%if p.judge_type==2%}<span class="label1">捆绑测试</span>{%endif%}
            {%if p.upload_data_way==False%}<span class="label1">vjudge</span>{%endif%}
            </td>
            <td>{% if p.level=='Advanced' %}<span class="label1">提高组</span>
            {% else %}<span class="label1">普及组</span>{% endif %}</span>
            </td>
            <td style="display:none">
              {% for tag in p.tags %}
            <a href="{{url_for('oj.list_problems_with_tags', tid=tag.id)}}">  <span class="label label-info">  {{tag.text}}  </span>  </a>  &nbsp;
                {% set have = True %}
              {% endfor %}
              {% if p.tags|length == 0 %}
                <a href="#">
                  <span class="label label-info">None</span>
                </a>
              {% endif %}
            </td>
            <td style="display:none"><span class="label1">{{p.ac}}</span></td>
            <td style="display:none"><span class="label1">{{p.sub}}{%if p.sub%}{%set x=p.ac/p.sub*100%}{%endif%}{#{x|round(precision=2, method='common') }#}</span></td>
            <td><span class="label1">{{p.source}}</span> </td>
            {% if is_admin %}   
            <td>{%if p.shared==true%}<span class="label1">邀请</span>{%endif%}</td>
            <td>
                <a href="{{url_for('admin.edit_problem', pid=p.id)}}"><span class="label label-success">Edit</span></a>
                &nbsp; 
                <a href="{{url_for('admin.manage_data',pid=p.id)}}"><span class="label label-primary">Data</span></a> 
                &nbsp;
                <a class="text-danger" onclick="" href="{{url_for('admin.delete_problem', pid=p.id)}}"><span class="label label-danger">Del</span></a>
                &nbsp; 
                <a href="#" onclick="toggle_visible({{p.id}})" id="visible-{{p.id}}"
                    class="text-{{'primary' if p.visible else 'muted'}}"
                    data-toggle="tooltip" data-placement="top" title="Toggle">
                    <span class="label label-warning">{{'Public' if p.visible else 'Hidden'}}</span>
                </a>
            </td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>   
    </div>
        {{ pagination(page, all_page, 'oj.list_problems') }}
  </div>
</div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript">
        function toggle_visible(pid) {
            obj = document.getElementById('visible-' + pid);
            if (obj.innerHTML.search("Public") != -1) {
                $.ajax({url:'/admin/toggle_problem_state/' + pid, type:'POST', success:function(){
                    obj.innerHTML = obj.innerHTML.replace('Public', 'Hidden');
                    $(obj).removeClass('text-primary').addClass('text-muted');
                }});
            } else {
                $.ajax({url:'/admin/toggle_problem_state/' + pid, type:'POST', success:function(){
                    obj.innerHTML = obj.innerHTML.replace('Hidden', 'Public');
                    $(obj).removeClass('text-muted').addClass('text-primary');
                }});
            }
        }
    </script>
      <script language="javascript">    
          function  btnOnclick3() {
            var table = document.getElementById("problemshow");   
            for(i=0; i<table.rows.length; i++) {   
                td = table.rows[i].cells[1];   
                with(table.rows[i].cells[5]){   
                    var display = style.display;   
                      if(style.display == '') style.display = 'none'; 
                      else style.display = '';   
                 } 
                with(table.rows[i].cells[6]){   
                    var display = style.display;   
                      if(style.display == '') style.display = 'none'; 
                      else style.display = '';   
                 } 
            }  
        } 

          function  btnOnclick() {
            var table = document.getElementById("problemshow");   
            for(i=0; i<table.rows.length; i++) {   
                td = table.rows[i].cells[1];   
                with(table.rows[i].cells[9]){   
                    var display = style.display;   
                      if(style.display == '')style.display = 'none'; 
                      else style.display = '';   
                } 
            }  
        }
          function  btnOnclick2() {
            var table = document.getElementById("problemshow");   
            for(i=0; i<table.rows.length; i++) {   
                td = table.rows[i].cells[1];   
                with(table.rows[i].cells[4]){   
                    var display = style.display;   
                      if(style.display == '')style.display = 'none'; 
                      else style.display = '';   
                } 
            }  
        } 
    </script>

{% endblock %}
