{% extends 'base.html' %}


{% set current_view = 'Problems' %}

{% block title %} {{p.title}} - Galaxy OJ{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>Problem 
	{%if cid==0%}{{p.id}}
	{%else%}
		{%if is_admin%}{{p.id}}{%endif%}
	{%endif%}
	:{{p.title}}</h1>
        <p>
                Time Limit: <span class="label label-info">{{p.time_limit}} ms</span> 
                Memory Limit: <span class="label label-info">{{p.memory_limit}} KB</span>  
                {%if p.special_judge%}<span class="label label-danger">Special Judge</span>{%endif%}
                {%if p.judge_type==2%}<span class="label label-danger">捆绑测试</span>{%endif%}
                {%if current_user.id==1%}
			{% for tag in p.tags %}
			<a href="{{url_for('oj.list_problems_with_tags', tid=tag.id)}}">  <span class="label label-info">  {{tag.text}}  </span>  </a>  &nbsp;
                            {% set have = True %}
                          {% endfor %}
                          {% if p.tags|length == 0 %}
                            <a href="#">
                              <span class="label label-info">None</span>
                            </a>
                          {% endif %}
		{%endif%}

        </p>
        <div class="col-md-12 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">Problem Description</div>
                <div class="panel-body">{{p.problem_desc | safe}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Input</div>
                <div class="panel-body">{{p.input_desc | safe}}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Output</div>
                <div class="panel-body">{{p.output_desc | safe}}</div>
            </div>
            {% if p.sample_input %}
            <div class="panel panel-default">
                <div class="panel-heading">Sample Input</div>
                <div class="panel-body">{{p.sample_input | safe}}</div>
            </div>
            {% endif %}
            {% if p.sample_output %}
            <div class="panel panel-default">
                <div class="panel-heading">Sample Output</div>
                <div class="panel-body">{{p.sample_output | safe}}</div>
            </div>
            {% endif %}
            {% if p.source and is_admin%} // admin display source
            <div class="panel panel-default">
                <div class="panel-heading">Problem Source</div>
                <div class="panel-body">{{p.source}}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                    <a href="{{url_for('oj.contest_submit_code', cid=cid, pid=pid) if cid else url_for('oj.submit_code', pid=pid)}}" class="btn btn-success" role="button">
                        Submit
                    </a>
                    {% if is_admin %}
                        {% if cid == 0 %}
                            <a href="{{url_for('admin.edit_problem', pid=p.id)}}" class="btn btn-primary" role="button">Edit</a>
                        {% else %}
                            <a href="{{url_for('admin.edit_contest_problem', pid=pid, cid=cid)}}" class="btn btn-primary" role="button">Edit</a>
                        {% endif %}
                        <a onclick="" href="{{url_for('admin.edit_judgetype', pid=p.id)}}" class="btn btn-danger" role="button">Type</a> 

                        <div class="panel-body">
                               <a onclick="" href="{{url_for('admin.delete_problem', pid=p.id)}}" class="btn btn-danger" role="button">Delete</a>                
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
<script>
	function confirm_delete(url) {
		if (window.confirm("Are you sure to delete it ?")) {
			window.location = url;
		}
	}
</script>
{% endblock %}
